<div class="widget" fxLayout="column">
	<div class="header bar drag-handler" fxLayout="row">
		<div fxFlex="90%" fxLayoutAlign="space-between">
			<span fxFlex="90%" fxLayoutAlign="start center"><span class="widget-title">JUNIOR DEPARTURES</span></span>
		</div>
		<mtc-drag-handle fxFlex="10%" fxLayoutAlign="center center"></mtc-drag-handle>
	</div>
	<div fxLayout="column" fxLayoutAlign="center" class="widget-content">
		<div fxFlex fxLayoutAlign="center center">
			<div class="graph" #graph></div>
		</div>
	</div>
</div>
