<div class="modal">
	<div class="modal-header" fxLayoutAlign="space-between">
		<h2 mat-dialog-title class="heading">{{isCreate ? 'Edit' : 'Create'}} Mailbox</h2>
		<button class="icon-btn" mat-dialog-close>
			<i class="material-icons">clear</i>
		</button>
	</div>
	<form class="app-dialog-component" (ngSubmit)="save(form)" #form="ngForm">
		<div fxLayout="column">
			<mat-input-container class="input-field">
				<input matInput [placeholder]="'Name'" name="name" class="text" [required]="true" alphaNumeric [(ngModel)]="mailbox.name">
				<mat-error>Required Field</mat-error>
			</mat-input-container>
			<mat-input-container class="input-field">
				<input matInput [placeholder]="'Combination'" name="combination" class="text" [required]="true" alphaNumeric [(ngModel)]="mailbox.combination">
				<mat-error>Required Field</mat-error>
			</mat-input-container>
		</div>
		<div mat-dialog-actions>
			<button class="secondary-btn" type="button" mat-dialog-close *ngIf="isCreate">Cancel</button>
			<button class="secondary-btn" type="button" (click)="confirmDelete()" *ngIf="!isCreate">Delete</button>
			<button class="primary-btn" type="submit">Save</button>
		</div>
	</form>
</div>
