<div class="modal">
	<div class="modal-header" fxLayoutAlign="space-between">
		<h2 mat-dialog-title class="heading">New Temporary Assignment</h2>
		<button class="icon-btn" mat-dialog-close>
			<i class="material-icons">clear</i>
		</button>
	</div>
	<form #newTemp="ngForm" (ngSubmit)="save(newTemp)" (keydown.enter)="$event.preventDefault()" novalidate>
		<div mat-dialog-content class="temp-assignment-component" fxLayout>
			<div fxFlex="60%" class="pad-column">
				<app-travel-missionary-search ngModel name="missionaries" required [isFormControl]="true" [(missionaries)]="missionaries"></app-travel-missionary-search>
			</div>
			<div fxFlex="40%">
				<div fxLayoutAlign="space-between">
					<mtc-date-picker name="departDate" ngModel required [isAfter]="'today'" [control]="newTemp.controls.departDate" [title]="'Departure Date'" fxFlex="40%"></mtc-date-picker>
					<mat-input-container fxFlex="55%">
						<input alphaNumeric matInput type="text" required maxlength="30" name="reason" placeholder="Reason" [(ngModel)]="newTempAssignment.reason"
							#reason="ngModel" autocomplete="off">
						<mat-error *ngIf="reason.errors && (reason.dirty || reason.touched)">
							<span [hidden]="!reason.errors.required">Required Field</span>
							<span [hidden]="!reason.errors.specialCharacters">No special characters allowed</span>
						</mat-error>
						<mat-hint align="end">{{newTempAssignment.reason.length}} / 30</mat-hint>
					</mat-input-container>
				</div>
				<mtc-auto-complete placeholder="Temporary Mission Name" ngModel name="mission" #mission [required]="true" [(itemChosen)]="missionChosen" [items]="toolsInfoService.info.missions"></mtc-auto-complete>
				<mat-input-container>
					<textarea matInput placeholder="Notes" name="notes" [(ngModel)]="newTempAssignment.notes" maxLength="500"></textarea>
					<mat-hint align="end" class="chars-remaining">{{newTempAssignment.notes.length}} / 500</mat-hint>
				</mat-input-container>
				<div class="checkbox-div">
					<div fxLayoutAlign="start center">
						<mat-checkbox class="check-box" [checked]="assigned" (change)="assigned = $event.checked"></mat-checkbox>
						<div class="temp-title">Assigned</div>
					</div>
				</div>
			</div>
		</div>
		<div mat-dialog-actions>
			<button class="secondary-btn" mat-dialog-close type="button">cancel</button>
			<button class="primary-btn" type="submit">create</button>
		</div>
	</form>
</div>
